[Unit]
Description=Provides the Calibre Book Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/calibre.pid
#ExecStart=/usr/bin/calibre-server --daemonize --log=/var/log/calibre.log --pidfile=/var/run/calibre.pid --port=8080 /library/calibre
ExecStart=/usr/bin/calibre-server --daemonize --log=/var/log/calibre.log --pidfile=/var/run/calibre.pid --port=8080 --enable-auth --userdb=/library/calibre/users.sqlite /library/calibre
[Install]
TimeoutStartSec=900
WantedBy=multi-user.target
